@tailwind base;
@tailwind components;

.logo a {
  text-indent: -9999px;
  overflow: hidden;
}

.header_bg {
  background: rgb(17, 18, 20);
  background: linear-gradient(
    0deg,
    rgba(17, 18, 20, 0) 0%,
    rgba(17, 18, 20, 1) 28%,
    rgba(17, 18, 20, 1) 100%
  );
}

@tailwind utilities;
